
/* FLEX MIXINS*/

@mixin flexSpaceBetween {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  @mixin flexStart {
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  @mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  @mixin flex($dir,$jc,$ai){
    display: flex;
    flex-direction: $dir;
    justify-content: $jc;
    align-items: $ai;
  }












