/* COLORS */

$primary : #666171;

$darkBlack : #08060b;
$blackBrand : #191326;
$lightBlack : #222222;
$borderBlack : #262130;


$darkGray3 : #383241;
$darkGray2 : #3c3742;
$darkGray : #27262c;
$gray : #999999;
$lightGray : #cccccc;
$borderGray : #565065;

$violetBrand : #9a6aff;
$lightViolet : #f4eeff;
$lightViolet2 : #b8add2;

$blueBrand : #1155cc;
$darkBlue : #280d5f;
$darkBlue2 : #3c1786;
$tabBlue : #372f47;
$hoverMenu: #353547;

$pinkBrand : #ed4b9e;
$ocra : #ffb237;
$whiteBrand : #ffffff;
$tiffanyBrand : #1fc7d4;
$greenBrand : #29910d;

$trasparency : #00000000; 
$hoverEffect : #08060b00;
