#bettingSection {
    background: linear-gradient(#6fb6f1 0%, #eaf2f6 100%);
    @include flexCenter;
}

.bettingSectionContainer {
    @include flexCenter;
    background-color: $darkBlackTransp;
    flex-direction: column;
    width: 50%;
    border-radius: 72px;
    border: 1px solid $darkGray3;

    h2 {
        color: $whiteBrand;
    }

    span {
        color: $violetBrand;
    }

    p {
        font-weight: 400;
        line-height: 1.5;
        font-size: 16px;
        color: $lightViolet2;
    }


}

.bettingSectionDoubleCard {
    @include flexCenter;



    .bettingSectionCardWrapper {
        @extend %card-wrapper;

        &.first-child {
            transform: rotate(-2.36deg);
            background-color: blue;

            .CardContainer {

                background: linear-gradient($ocra 0%, $ocra2 51.17%, $ocra3 100%);
                
            
            }
        }

        &.last-child {
            transform: rotate(1.43deg);
            background-color: black;

        }

        .CardContainer {
            background-color: #6fb6f1;

        }

        .CardContainer {
            @extend %card-wrapper-container;

            .CardContent {
                @extend %card-wrapper-container-content;
            }
        }

        .CardImg {
            @extend %card-wrapper-container-content-image;
        }



        .CardP {
            p {
                color: $darkBlue;
                font-weight: 600;
                line-height: 1.5;
                font-size: 16px;
            }

            span {
                font-weight: 400;
                line-height: 1.5;
                margin-bottom: 40px;
                font-size: 16px;
            }

        }

        .cardButton {
            button {
                @include b-selector(defoult);
                color: $whiteBrand;
                font-weight: 600;
                line-height: 1.5;
                font-size: 16px;

            }

            a {
                @include flex(row, center, normal);
            }


        }
    }

    .bettingSectionSecondCard {
        background: $darkBlue2;

        .secondCardRotate {
            transform: rotate(2.36deg);
        }
    }
}

.icon {
    display: inline-block;
    -webkit-mask-size: cover;
    mask-size: cover;
    background-color: white;


    &.arrow-right{
        -webkit-mask: url("assets/asset 46.svg") no-repeat 50% 50%;
        mask: url("assets/asset 46.svg") no-repeat 50% 50%;
        width: 20px;
        height: 20px;
    }

    &.ticket{
        -webkit-mask: url("assets/asset 57.svg") no-repeat 50% 50%;
        mask: url("assets/asset 57.svg") no-repeat 50% 50%;
        width: 50px;
        height: 50px;
    }
    &.magic-sphere{
        -webkit-mask: url("assets/asset 55.svg") no-repeat 50% 50%;
        mask: url("assets/asset 55.svg") no-repeat 50% 50%;
        width: 50px;
        height: 50px;
        background-color: black;
    }
}
