.earnSectionContainer {

    position: relative;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    z-index: 1;
    padding: 48px 0px;
    background: rgba(0, 0, 0, 0) linear-gradient(111.68deg, rgb(242, 236, 242) 0%, rgb(232, 242, 246) 100%) repeat scroll 0% 0%;

    .flex {
        display: flex;
    }

    .divider {
        z-index: -1;
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        right: 0px;
        top: 0px;
    }


    .inner-divider {
        position: absolute;
        display: flex;
        width: 100%;
        top: 0px;
    }

}

.earnSectionContent {
    display: flex;
    flex-direction: column;

    .earnSectionContentInner {
        -moz-box-align: center;
        align-items: center;
        flex-direction: row-reverse;
    }

    .earnSectionContentInnerFlex {
        display: flex;
        flex-direction: column;
        flex: 1 1 0%;
        align-self: flex-start;
    }
}