
h2 {
  font-size: 4rem;
}

#feedbackSection {
  width: 100vw;
  height: 79.3rem;

  .external-container {
    @include flexCenter;
    flex-direction: column;

    .icon {
      @extend %largeMargin;
    }

    .title-container {
      margin: 2rem;
      @include flex (column,center,center);

      .title {
        @extend %largeMargin;
        @include flex (column,center,center);
        color: $darkBlue;
      }

      .subTitle {
        @extend %subTitle;

        &-highlighted {
          margin: 2rem 0rem 2.4rem 0rem;
          @extend %subTitle-highlighted;
        }
      }
    }

    .card-external-container {
      margin: 2rem;
      @include flexSpaceBetween;
      gap: 3rem;

      .card-wrapper {
        @extend %card-wrapper;

        .card-container {
          @extend %card-container;

          .card-content {

            @extend %card-content;

            .card-title {

              &.marginBottom{
                @extend %mediumMargin;
              }
            }

            .card-subTitle {
              @extend %subTitle;
            }

            .card-image {
                @extend %card-image
            }
          }
        }
      }
    }
  }
}

