#theMoonSection{
    @include flexCenter;
    width: 100vw;
    height: 100rem;

#theMoonSection-external-container{
    @include flexSpaceBetween;
    width: 115rem;
    height: 58rem;


    #theMoonSection-leftTitle-container{
        padding-inline: 2rem;


        h1{
           color: #9a6aff;
           font-size: 6.4rem;
        }

        h3{
            padding-block: 3rem;
        }

        #theMoonSection-buttons-container{
            @include flexStart;
            gap: 1rem;

            #theMoonSection-button1{
                @include b-selector(default);
                cursor: pointer;
            }

            #theMoonSection-button2{
                @include b-selector(alternative);
                cursor: pointer;
            }
        }
    
    }
    
    #theMoonSection-floatingimgs-container{
        @include flexCenter;
        width: 80%;
        height: 100%;
        position: relative;

        img{
            width: 100%;
            height: 100%;
            position: absolute;

        }

        #theMoonSection-star1{
            @include ghost;
            animation-delay: 2s;
        }

        #theMoonSection-star2{
            @include ghost;
            animation-delay: 3s;
        }

        #theMoonSection-star3{
            @include ghost;
        }

        #theMoonSection-rabbit1{
            @include noGravity;
        }

        
    }


}

}