/*Vertical Tabs*/

%verticalTab {
  @include flexStart;
  flex-direction: column;
  width: 13rem;
  position: relative;
  cursor: pointer;
  overflow: visible;

  &:hover{
    %tabHeader{
      border-radius: 0.8rem 0.8rem 0rem 0rem;
    }
  }

  * {
    @include flexSpaceBetween;
    width: 100%;
    height: max-content;
    line-height: 3rem;

    &%tabContent {
      @include flex(column, left, center);
      display: none;
      position: absolute;
      border-bottom-left-radius: 0.8rem;
      border-bottom-right-radius: 0.8rem;
      border: 0.1rem solid #262130;
      background-color: #372f47;
      color: #f4eeff;
      font-size: 1.6rem;
      width: 13rem;
      top: 100%;
      

      :last-child {
        border-bottom-left-radius: 0.8rem;
        border-bottom-right-radius: 0.8rem;
      }

      &:hover {
        display: block;
      }

      :hover {
        background-color: $borderBlack;
      }
    }

    &%tabHeader {
      @include flex(row, left, center);
      border-radius: 0.8rem;
      border: 0.1rem solid $borderBlack;
      background-color: $tabBlue;
      color: $lightViolet;
      font-size: 1.6rem;

      &:hover {
        background-color: $borderBlack;
        border-radius: 0.8rem 0.8rem 0rem 0rem;

        + %tabContent {
          display: block;
        }
      }
    }

    * {
      padding-left: 0.5rem;
    }

    %triangle {
      content: "";
      width: 0;
      height: 0;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #fff;
      padding-left: 0px;
      margin-right: 10px;
    }
  }

  %dropInput {
    position: absolute;
    width: 100%;
    z-index: -1;

    &:focus {
      %tabContent {
        visibility: hidden;
      }
    }
  }
}
