@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Kanit", sans-serif;
}

html {
  font-size: 10px;
}

/* VARIABLES */
/* COLORS */
/* MIXIN */
/* FLEX MIXINS*/
/*animotions*/
/* FONT */
/*DESiGN SYSTEM*/
/* Font style*/
h1 {
  font-size: 48px;
  line-height: 52.8px;
  letter-spacing: normal;
}

h2 {
  font-size: 32px;
  line-height: 35.2px;
  letter-spacing: normal;
}

h3 {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: normal;
}

h4 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: normal;
}

.p {
  font-size: 14px;
  line-height: 21px;
  letter-spacing: normal;
}

.subP {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: normal;
}

/*LINK*/
a {
  display: flex;
  flex-direction: unset;
  justify-content: unset;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

/*Buttons*/
/*BOOKMARK BUTTON STYLE*/
header .container-button .button4, header .container-button .button3, header .container-button .button2, .bettingSectionDoubleCard .bettingSectionFirstCard .cardButton button, header .container-button .button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.8rem;
  width: 16.5rem;
  box-shadow: rgba(14, 14, 44, 0.4) 0px -1px 0px 0px inset;
  border-radius: 1.6rem;
  line-height: 1.6rem;
  font-size: 1.6rem;
  text-align: center;
  letter-spacing: 0.48px;
  padding-inline: 2frem;
  /*SET DEFOULT STYLE*/
  /*SET ALT STYLE*/
  /*SET INFO STYLE*/
  /*SET CONNECT STYLE*/
}
.bettingSectionDoubleCard .bettingSectionFirstCard .cardButton button, header .container-button .button1 {
  color: #fff;
  background-color: #1fc7d4;
  border: 0px #fff;
  /*SET DEFOULT STYLE HOVER*/
}
.bettingSectionDoubleCard .bettingSectionFirstCard .cardButton button:hover, header .container-button .button1:hover {
  background-color: rgba(31, 200, 212, 0.637);
  transition: 400ms;
}
header .container-button .button2 {
  color: #1fc7d4;
  border: 2px solid #1fc7d4;
  background-color: rgba(0, 0, 0, 0);
  /*SET ALT STYLE HOVER*/
}
header .container-button .button2:hover {
  background-color: rgba(8, 6, 11, 0.65);
  transition: 400ms;
}
header .container-button .button3 {
  height: 4.8rem;
  max-width: 4.1rem;
  min-width: 4rem;
  padding: 0px 0px;
  line-height: 2.4rem;
  letter-spacing: normal;
  color: #1fc7d4;
  border: 0px #1fc7d4;
  background-color: rgba(8, 6, 11, 0);
  /*SET INFO STYLE HOVER*/
}
header .container-button .button3:hover {
  background-color: rgba(8, 6, 11, 0.65);
  transition: 400ms;
}
header .container-button .button4 {
  height: 3.2rem;
  max-width: 10.7rem;
  min-width: 12rem;
  padding: 0px 16px 0px 16px;
  line-height: 1.6rem;
  letter-spacing: normal;
  color: #fff;
  background-color: #1fc7d4;
  /*SET CONNECT STYLE HOVER*/
}
header .container-button .button4:hover {
  background-color: rgba(31, 200, 212, 0.637);
  transition: 400ms;
}

/*MIXIN BUTTONS SELECTOR*/
/*Vertical Menù*/
header .menu {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  border-radius: 1.6rem;
  border: 0px #565065;
  background-color: #27262c;
  width: 28rem;
  color: #b8add2;
  overflow: hidden;
  font-size: 1.6rem;
  /*set childs style*/
}
header .menu * {
  list-style-type: none;
  width: 100%;
  /*set childs of childs style*/
}
header .menu * * {
  padding: 6px 0px 6px 8px;
  cursor: pointer;
  /*set childs of childs hover*/
}
header .menu * *:hover {
  background-color: #353547;
}

/*Vertical Tabs*/
/*set vertical tab*/
header .tab {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 13rem;
  position: relative;
  cursor: pointer;
  overflow: visible;
  /*set vertical tab hover*/
  /*set all childs of verticalTab*/
}
header .tab:hover .tabHeader {
  border-radius: 0.8rem 0.8rem 0rem 0rem;
}
header .tab * {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  line-height: 3rem;
  /*set child of verticalTab with bookmark %tabContent */
  /*set child of verticalTab with bookmark %tabHeader */
  /*set all childs of childs */
  /*set child 'with bookmark %triangle' of childs of verticalTab */
}
header .tab .tabContent {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  display: none;
  position: absolute;
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
  border: 0.1rem solid #262130;
  background-color: #372f47;
  color: #f4eeff;
  font-size: 1.6rem;
  width: 100%;
  top: 100%;
  /*set tabContent last child*/
  /*set tabContent hover*/
  /*set tabContent's childs hover*/
}
header .tab .tabContent :last-child {
  border-bottom-left-radius: 0.8rem;
  border-bottom-right-radius: 0.8rem;
}
header .tab *.tabContent:hover {
  display: block;
}
header .tab .tabContent :hover {
  background-color: #262130;
}
header .tab .tabHeader {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  border-radius: 0.8rem;
  border: 0.1rem solid #262130;
  background-color: #372f47;
  color: #f4eeff;
  font-size: 1.6rem;
  /*set tabHeader hover*/
}
header .tab *.tabHeader:hover {
  background-color: #262130;
  border-radius: 0.8rem 0.8rem 0rem 0rem;
  /*set tabContent effect in tabHeader hover */
}
header .tab *.tabHeader:hover + .tabContent {
  display: block;
}
header .tab * * {
  padding-left: 0.5rem;
}
header .tab * .triangolo {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  padding-left: 0px;
  margin-right: 10px;
}

/*Text input*/
input[type=text] {
  background-color: #372f47;
  border-radius: 16px;
  line-height: 3.5rem;
  text-align: left;
  font-weight: 500;
  padding: 0px 16px;
  color: #f4eeff;
  outline: none;
  border: none;
  margin-block: 1rem;
  font-size: 1.6rem;
}
input[type=text]:focus {
  box-shadow: #7645d9 0px 0px 0px 2.5px;
  outline: none;
}

/*checkbox input*/
header .checkbox {
  width: 2.4rem;
  height: 2.4rem;
  border-radius: 0.8rem;
  box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
  background-color: #eeeaf4;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  padding: 0px 6px;
}
header .checkbox:checked {
  background-color: #29910d;
}
header .checkbox:checked::before {
  content: "✓";
  position: absolute;
  font-weight: bolder;
  font-size: 1.6rem;
  color: #eeeaf4;
}

/*Radio Input*/
input[type=radio] {
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  width: 2.4rem;
  height: 2.4rem;
  box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
  background-color: #372f47;
  border-radius: 50%;
}
input[type=radio]:checked {
  box-shadow: #29910d 0px 0px 0px 4px inset;
  border: 2px solid #29910d;
}
input[type=radio]:focus {
  border: 2px solid #7645d9;
}

/*Label*/
label {
  color: #f4eeff;
  font-size: 1.6rem;
  font-weight: 400;
}

.switch {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 20px;
  cursor: pointer;
}
.switch .switchInput {
  opacity: 0;
  width: 0;
  height: 0;
}
.switch .switchInput:checked + .slider:after {
  transform: translateX(16px);
}
.switch .switchInput:checked + .slider:before {
  box-shadow: rgb(118, 69, 217) 0px 0px 0px 1px, rgba(118, 69, 217, 0.6) 0px 0px 0px 4px;
}
.switch .switchInput:focus + .slider:after {
  transform: translateX(16px);
}
.switch .switchInput:focus + .slider:before {
  box-shadow: rgb(118, 69, 217) 0px 0px 0px 1px, rgba(118, 69, 217, 0.6) 0px 0px 0px 4px;
}
.switch .switchInput:checked + .slider:before {
  transform: translateX(16px);
}
.switch .switchInput:checked + .slider {
  background-color: rgb(49, 208, 170);
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #372f47;
  border-radius: 34px;
  background-color: #372f47;
  transition: background-color 0.2s ease 0s;
  box-shadow: rgba(74, 74, 104, 0.1) 0px 2px 2px -1px inset;
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
.switch .slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 0px;
  bottom: 2px;
  background-color: #27262c;
  border-radius: 50%;
  transition: 0.4s;
}
.switch .slider:hover:before {
  box-shadow: rgb(118, 69, 217) 0px 0px 0px 1px, rgba(118, 69, 217, 0.6) 0px 0px 0px 4px;
  transition: box-shadow 0s;
  transition: transform 0.4s;
}

/*PATH*/
header {
  /*CONTENITORE BOTTONI DEL SITO*/
  /*MENU VERTICALE*/
  /*TAB VERTICALE*/
  /*FORM */
}
header .container-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding: 50px;
  background-color: white;
  border-radius: 16px;
  background-color: rgba(0, 0, 0, 0.589);
}
/* SWITCH*/
#bettingSection {
  background: linear-gradient(#6fb6f1 0%, #eaf2f6 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bettingSectionContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(8, 6, 11, 0.6);
  flex-direction: column;
  width: 50%;
  border-radius: 72px;
  border: 1px solid #383241;
}
.bettingSectionContainer h2 {
  color: #ffffff;
}
.bettingSectionContainer span {
  color: #9a6aff;
}
.bettingSectionContainer p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 16px;
  color: #b8add2;
}

.bettingSectionDoubleCard {
  display: flex;
  justify-content: center;
  align-items: center;
}
.bettingSectionDoubleCard .bettingSectionFirstCard {
  display: flex;
  flex: 1 1 0%;
}
.bettingSectionDoubleCard .bettingSectionFirstCard .firstCardRotate,
.bettingSectionDoubleCard .bettingSectionFirstCard .firstCardImg {
  transform: rotate(-2.36deg);
}
.bettingSectionDoubleCard .bettingSectionFirstCard .firstCardContent {
  background: linear-gradient(#ffb237 0%, #ffcd51 51.17%, #ffe76a 100%);
  padding: 24px;
  border-radius: 27px;
}
.bettingSectionDoubleCard .bettingSectionFirstCard .firstCardImg {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: normal;
}
.bettingSectionDoubleCard .bettingSectionFirstCard .firstCardP p {
  color: #280d5f;
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
}
.bettingSectionDoubleCard .bettingSectionFirstCard .firstCardP span {
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px;
  font-size: 16px;
}
.bettingSectionDoubleCard .bettingSectionFirstCard .cardButton button {
  color: #ffffff;
  font-weight: 600;
  line-height: 1.5;
  font-size: 16px;
}
.bettingSectionDoubleCard .bettingSectionFirstCard .cardButton a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
}
.bettingSectionDoubleCard .bettingSectionFirstCard .cardButton .svg .fill-white {
  fill: white;
}
.bettingSectionDoubleCard .bettingSectionSecondCard {
  background: #3c1786;
}
.bettingSectionDoubleCard .bettingSectionSecondCard .secondCardRotate {
  transform: rotate(2.36deg);
}

.icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  -webkit-mask: url("assets/asset 46.svg") no-repeat 50% 50%;
  mask: url("assets/asset 46.svg") no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: white;
}/*# sourceMappingURL=style.css.map */